li{
  list-style: none;
}
.thumb-image img{
  margin-top:60px;
}
.slides{
  height:350px;
}
#account{
  position:relative;
  bottom:40px;
  background:#f2f2f2;
  opacity: 0.4;
}
#account li a {
  color:#5d4b33;
}